/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;
    color: #090909;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
    background: transparent;
    backdrop-filter: blur( 100px );
    -webkit-backdrop-filter: blur( 20px );
}

.logo {
    font-size: 25px;
    color: #090909;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #090909;
    text-decoration: none;
    font-weight: 400;
    margin-left: 15px;
    
}
.navbar a:hover, 
.navbar a.active{
    color: #090909;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

.greetings {
    display: flex;
    align-items: center;
    height: 60vh; 
    padding: 0 5%;
    justify-content: flex-start; 
}

.greetings-content{
    max-width: fit-content;
}

.greetings-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #090909; 
}

.greetings-content h3 {
    font-size: 36px;
    font-weight: 700;
    color: #090909;
}

.greetings-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 20px; 
    color: #090909; 
}

.greetings-content .btn-box{
    width: 345px;
    height: 50px;
    padding-top: 8px;
}

.btn-box a{
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    display: inline-flex;
    font-size: 15px;
    color: #dadada;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    background:#383838;
    box-shadow: 0 8px 32px 0 rgba(134, 134, 134, 0.37);
    border-radius: 10px;
}

.greetings-sci{
   position: absolute;
   bottom: 40px;
   width: 170px;
}

/* hide memoji */
@media screen and (max-width: 768px) {
    .greetings img {
        display: none;
    }
}

.main {
    display: flex;
    align-items: center;
    height: 60vh; 
    padding: 0 5%;
    justify-content: flex-start; 
}

.content1 {
    padding: 0 5% 2%;
    display: flex;
    justify-content: space-between;
}

.article-container{
    flex: 5;
    background-color:#dadada;
    padding: 5%;
    border-radius: 10px;
}

.articles{
    padding: 3%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.about-me {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex: 1;
    background-color: #dadada;
    padding: 2%;
    border-radius: 10px;
    align-self: flex-start;
    margin-left: 5%;
}

.about-me img {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 200px;
}

.about-me h3 {
    padding: 2%;
    text-align: center;
}

.about-me p {
    font-size: smaller;
    text-align: center;
}
.content2{ 
    padding: 3%;
    background-color: #dadada;
    height: 15vh;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 5%;
}

footer{
    background-color: #dadada;
    width: 100%;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .content1 {
        flex-direction: column; 
    }

    /* .about-me{
        background-color: #dadada;
        padding: 5%;
        border-radius: 10px;
        align-self: flex-start;
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
    } */

    .about-me {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        flex: 1;
        background-color: #dadada;
        padding: 2%;
        border-radius: 10px;
        align-self: flex-start;
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
    }

    .about-me img{
       /* display: none; */
       margin-top: 5%;
        margin-bottom: 5%;
        max-width: 200px;
    }
    
}